<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Fuente Mulish -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600&display=swap">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <title>Agregar Usuario</title>
    </head>

    <body>
        <!-- Navbar-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex align-items-center">
                            <img class="logo img-fluid w-auto" src="/css/logo1.png" alt="evolution aligner" style="max-height: 100px;">
                            <form class="d-flex p-3 ms-3">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success fs-6 " type="submit">Buscar</button>
                            </form>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Usuario logueado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-6 disabled">Perfil</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        
        <!-- Sidebar -->
        <div class="d-flex">
            <div class="flex-shrink-0 p-3 bg-primary" id="sidebar" style="width: 280px; height: 100vh;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    <span class="fs-5 fw-semibold">Dashboard</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="fs-6 btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Usuario-collapse" aria-expanded="true">
                            <b>Usuarios</b>
                        </button>
                        <div class="collapse show" id="Usuario-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-light fs-6 rounded">Lista de Usuarios</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Agregar Usuarios</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Modificar Usuario</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="fs-6 btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Paciente-collapse" aria-expanded="false">
                            <b>Pacientes</b>
                        </button>
                        <div class="collapse" id="Paciente-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-light fs-6 rounded">Lista de Pacientes</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Agregar Paciente</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Modificar Paciente</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="fs-6 btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Tratamiento-collapse" aria-expanded="false">
                            <b>Tratamientos</b>
                        </button>
                        <div class="collapse" id="Tratamiento-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-light fs-6 rounded">Lista de Tratameintos</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Agregar Tratamiento</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Modificar Tratamiento</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="fs-6 btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Odontologos-collapse" aria-expanded="false">
                            <b>Odontologos</b>
                        </button>
                        <div class="collapse" id="Odontologos-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-light fs-6 rounded">Lista de Odontólogos</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Agregar Odontólogo</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Modificar Odontólogo</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="fs-6 btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Ortodoncistas-collapse" aria-expanded="false">
                            <b>Ortodoncistas</b>
                        </button>
                        <div class="collapse" id="Ortodoncistas-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-light fs-6 rounded">Lista de Ortodoncistas</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Agregar Ortodoncista</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Modificar Ortodoncista</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="fs-6 btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Tecnicos-collapse" aria-expanded="false">
                            <b>Técnicos</b>
                        </button>
                        <div class="collapse" id="Tecnicos-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-light fs-6 rounded">Lista de Técnicos</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Agregar Técnico</a></li>
                                <li><a href="#" class="link-light fs-6 rounded">Modificar Técnico</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <!--  Formulario -->
            <div class="p-3 bg-dark text-white w-100" style="opacity: 0.8;">
                <form action="/usuario/registro" method="POST">
                    <div class="row">
                        <div class="col-12">
                            <p class="h1">Agregar Usuario</p>                           
                        </div>
                        <p class="border-top my-3"></p> 
                        <!--  Card ERRORES -->
                        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                            <div class="card-body">
                                <h5 class="card-title">Error!</h5>
                                <p class="card-text" th:text="${error}"></p>
                            </div>
                        </div>
                         <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                            <div class="card-body">
                                <h5 class="card-title">Exito!</h5>
                                <p class="card-text" th:text="${exito}"></p>
                            </div>
                        </div>
                        
                        <div class="mb-3 col-2" >
                            <label for="inputNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" aria-label="Nombre">
                             
                        </div>
                        <div class="mb-3 col-2">
                            <label for="inputApellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="apellido" aria-label="Apellido">
                             
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-2" >
                            <label for="inputDni" class="form-label">D.N.I.</label>
                            <input type="text" class="form-control" name="dni" aria-label="DNI">
                            
                        </div>
                         <div class="col-2" >
                            <label for="rol" class="form-label">Rol</label>
                            <select name="rolString" class="form-select" aria-label="Large select example">
                                <option value="" selected>Elige uno</option>
                                <option th:each="tipoOpt : ${T(com.fran.ogascon.enums.Rol).values()}" 
                                        th:value="${tipoOpt}" th:text="${tipoOpt}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-2">
                            <label for="inputDomicilio" class="form-label">Domicilio</label>
                            <input type="text" name="domicilio" class="form-control" id="inputDomicilio" placeholder="San Juan 845">
                             
                        
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="inputLocalidad" class="form-label">Localidad</label>
                            <input type="text" name="localidad" class="form-control" id="inputLocalidad">
                            
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="inputProvincia" class="form-label">Provincia</label>
                            <input id="inputProvincia" name="provincia" class="form-control" type="text">
                             
                        </div>
                    </div>
                    <div class="mb-3 col-md-2">
                        <label for="inputTelefono" class="form-label">Telefono</label>
                        <input id="inputTelefono" name="telefono" class="form-control" type="text">
                         
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="mb-3 col-md-2">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">    
                    </div>
                    <div class="mb-3 col-md-2">
                        <label for="exampleInputPassword2" class="form-label">Repetir Password</label>
                        <input type="password" name="password2" class="form-control" id="exampleInputPassword2">
                    </div>
            
                    <p class="border-top my-3"></p> 

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit" >Guardar Usuario</button>
                    </div>
                </form>
            </div>
        </div>   

    <!-- Optioanal JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
